<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Calculators-->
    <bean id="calculator" class="nl.abramkin.pirates.calc.Calculator"/>
    <bean id="fairlyCalculator" class="nl.abramkin.pirates.calc.FairlyCalculator"/>

    <!--Helpers-->
    <bean id="fairlyHelper" class="nl.abramkin.pirates.JackSparrowHelperImpl">
        <constructor-arg ref="fairlyCalculator"/>
    </bean>

    <bean id="simpleHelper" class="nl.abramkin.pirates.JackSparrowHelperImpl">
        <constructor-arg ref="calculator"/>
    </bean>

</beans>